{{ define "main" }}
<section id="bio-category" class="bio-category section">
  <div class="container aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
    <div class="row g-5">
      <div class="col-lg-4">
        <div class="blog-author-widget widget-item">
          <div class="d-flex flex-column align-items-center">
            <div class="d-flex flex-column align-items-center">
                {{ if .Params.author }}
                <img src="{{ .Site.BaseURL }}authors/{{ .Params.author }}/avatar.png" class="rounded-circle flex-shrink-0" alt="">
                {{ end }}
                {{ with .Params.author }}
                  {{ $author := site.GetPage (printf "authors/%s" .) }}
                  {{ with $author }}
                    <h4>{{ .Title }}</h4>
                  {{ end }}
                {{ end }}      
            </div>
            <!-- <div>
              {{ with .Params.author }}
                {{ $author := site.GetPage (printf "authors/%s" .) }}
                {{ with $author }}
                  {{ with .Params.socials }}
                    {{ range . }}
                      <a href="{{ .link }}"><i class="{{ .icon }}"></i></a>
                    {{ end }}
                  {{ else }}
                    <p>No social links available.</p>
                  {{ end }}

                {{ end }}
              {{ end }}
            </div>   -->
            <div class="social-links">
              {{ with .Params.author }}
                {{ $author := site.GetPage (printf "authors/%s" .) }}
                {{ with $author }}
                  {{ .Params.role }}
                {{ end }}
              {{ end }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg">
        <div>
          {{ with .Params.author }}
            {{ $author := site.GetPage (printf "authors/%s" .) }}
            {{ with $author }}
              {{ .Content }}
            {{ end }}
          {{ end }}
        </div>
        <div class="row g-6">
          <div class="col-lg-6">
            <h4>Interests</h4>
            <ul>
              {{ with .Params.author }}
              {{ $author := site.GetPage (printf "authors/%s" .) }}
                {{ with $author }}
                  {{ with $author.Params.interests }}
                    {{ range . }}
                    <li>{{ . }}</li>
                    {{ end }}
                  {{ end }}
                {{ end }}
              {{ end }}
            </ul>
          </div>
          <div class="col-lg">
            <h4>Education</h4>
            <ul class="list-unstyled">
              {{ with .Params.author }}
              {{ $author := site.GetPage (printf "authors/%s" .) }}
                  {{ with $author }}
                      {{ with $author.Params.education }}
                          {{ range .courses }}
                          <li class="d-flex align-items-start mb-3">
                              <i class="bi bi-mortarboard me-2 fs-4"></i>
                              <div>
                                  <p class="course fw-bold m-0">{{ .course }}, {{ .year }}</p>
                                  <p class="institution text-muted m-0">{{ .institution }}</p>
                              </div>
                          </li>
                          {{ end }}
                      {{ end }}
                  {{ end }}
              {{ end }}
          </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="accomplishments-category" class="accomplishments-category section">
  <div class="container aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
    <div class="row g-5">
      <div class="col-lg-4">
        <div class="">
          <div class="d-flex flex-column align-items-center">
            <div class="d-flex flex-column align-items-center">
              <h4>Accomplishments</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg">
          {{ with .Site.GetPage "section" "resume" }}
            {{ range .Pages }}
              {{ if eq .Title "Accomplishments" }}
                  {{ range sort .Params.item "date_start" "desc"}}
                  <div class="timeline-item">
                    <div class="timeline-content">
                        <h3 class="title">{{ .title }}</h3>
                        <h4 class="organization">
                            <a href="{{ .organization_url }}" target="_blank">{{ .organization }}</a>
                        </h4>
                        <p class="date">
                          {{ time.Format "Jan 2, 2006" .date_start }} - {{ if .date_end }}{{ time.Format "Jan 2, 2006" .date_end }}{{ else }}Present{{ end }}
                        </p>
                        <p class="description">{{ .description }}</p>
                        <div class="links">
                            <a class="btn" href="{{ .url }}" target="_blank">More Info</a>
                            {{ if .certificate_url }}
                                <a class="btn btn-cert" href="{{ .certificate_url }}" target="_blank">View Certificate</a>
                            {{ end }}
                        </div>
                    </div>
                  </div>
                  {{ end }}
              {{ end }}
            {{ end }}
          {{ end }}
      </div>
  </div>
</section>

<section id="badges-category" class="badges-category section">
  <div class="container aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
    <div class="row g-5">
      <div class="col-lg-4">
        <div class="">
          <div class="container aos-init aos-animate" data-aos="fade-up">
          </div>
          <div class="d-flex flex-column align-items-center">
            <div class="d-flex flex-column align-items-center">
              <h4>Badges</h4>
              
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg">
        {{ with .Site.GetPage "section" "resume" }}
          {{ range .Pages }}
            {{ if eq .Title "Badges" }}
                {{ .Content }}
            {{ end }}
          {{ end }}
        {{ end }}
    </div>
  </div>
</section>

<section id="experience-category" class="experience-category section">
  <div class="container aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
    <div class="row g-5">
      <div class="col-lg-4">
        <div class="">
          <div class="container aos-init aos-animate" data-aos="fade-up">
          </div>
          <div class="d-flex flex-column align-items-center">
            <div class="d-flex flex-column align-items-center">
              <h4>Experience</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg">
        {{ with .Site.GetPage "section" "resume" }}
          {{ range .Pages }}
            {{ if eq .Title "Experiences" }}
                {{ range sort .Params.item "date_start" "desc"}}
                <div class="timeline-item">
                  <div class="timeline-content">
                      <h3 class="title">{{ .title }}</h3>
                      <h4 class="organization">
                          <a href="{{ .company_url }}" target="_blank">{{ .company }}</a>
                      </h4>
                      <p class="date">
                        {{ time.Format "Jan 2, 2006" .date_start }} - {{ if .date_end }}{{ time.Format "Jan 2, 2006" .date_end }}{{ else }}Present{{ end }}<span class="middot-divider">.</span>{{.location}}
                      </p>
                      <p class="description">{{ .description | markdownify }}</p>
                      <div class="links">
                          <a class="btn" href="{{ .url }}" target="_blank">More Info</a>
                          {{ if .certificate_url }}
                              <a class="btn btn-cert" href="{{ .certificate_url }}" target="_blank">View Certificate</a>
                          {{ end }}
                      </div>
                  </div>
                </div>
                {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}
    </div>
  </div>
</section>

{{ end }}