/* custom
  */
  .timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    // max-width: 800px;
    // margin: auto;
    // padding: 20px;
  }
  
  .timeline-item {
    // background: #2b2e3b; /* Dark background */
    border-radius: 10px;
    padding: 20px;
    //width: 90%;
    margin-bottom: 20px;
    position: relative;
    // color: #var(--accent-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .timeline-item::before {
    // content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    width: 10px;
    height: 10px;
    background: var(--default-color);
    border-radius: 50%;
    transform: translateY(-50%);
  }
  
  .timeline-content {
    text-align: left;
  }
  
  .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .organization {
    font-size: 16px;
    font-weight: bold;
    color: #color-mix(in srgb, var(--accent-color) 75%, white);
    margin-bottom: 5px;
  }
  
  .date {
    font-size: 14px;
    // color: #ccc;
    margin-bottom: 10px;
  }
  
  .description {
    font-size: 14px;
    line-height: 1.6;
    // color: #bbb;
  }
  
  .links {
    margin-top: 10px;
  }
  
  .btn {
    display: inline-block;
    background: var(--accent-color);
    color: var(--contrast-color);
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
  }
  
  .btn:hover {
    background-color: color-mix(in srgb, var(--accent-color), transparent 25%); /* Use a defined hover color */
    // color: black; /* Ensures contrast */
  }
  
  .btn-cert {
    background: color-mix(in srgb, var(--accent-color) 75%, white);;
  }
  
  .middot-divider {
    padding-right: .45em;
    padding-left: .45em;
    font-size: 15px
  }
  
  
  .image-container {
    width: 100%;
    text-align: center;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }
  
  .image-container figcaption {
    font-style: italic;
    text-align: center;
  }