@import 'general';
@import 'font-and-color';
@import 'php';
@import 'header';
@import 'navigation';
@import 'footer';
@import 'resume';
@import 'preloader';
@import 'scrolltop';
@import 'search';
@import 'taxonomy';
@import 'category';
// @import 'about';
@import 'page';
@import 'section';  
@import 'slider';  
@import 'blog-detail';  


  /*--------------------------------------------------------------
  # Disable aos animation delay on mobile devices
  --------------------------------------------------------------*/
  @media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }
  

  
  /*--------------------------------------------------------------
  # Starter Section Section
  --------------------------------------------------------------*/
  .starter-section {
    /* Add your styles here */
  }
  
  
  

  
  /*--------------------------------------------------------------
  # Blog Posts Section
  --------------------------------------------------------------*/
  .blog-posts article {
    background-color: var(--surface-color);
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
  }
  
  .blog-posts .post-img img {
    transition: 0.5s;
  }
  
  .blog-posts .post-date {
    background-color: var(--accent-color);
    color: var(--contrast-color);
    position: absolute;
    right: 0;
    bottom: 0;
    text-transform: uppercase;
    font-size: 13px;
    padding: 6px 12px;
    font-weight: 500;
  }
  
  .blog-posts .post-content {
    padding: 30px;
  }
  
  .blog-posts .post-title {
    font-size: 20px;
    color: var(--heading-color);
    font-weight: 700;
    transition: 0.3s;
    margin-bottom: 15px;
  }
  
  .blog-posts .meta i {
    font-size: 16px;
    color: var(--accent-color);
  }
  
  .blog-posts .meta span {
    font-size: 15px;
    color: color-mix(in srgb, var(--default-color), transparent 40%);
  }
  
  .blog-posts p {
    margin-top: 20px;
  }
  
  .blog-posts hr {
    color: color-mix(in srgb, var(--default-color), transparent 60%);
    margin-bottom: 15px;
  }
  
  .blog-posts .readmore {
    display: flex;
    align-items: center;
    font-weight: 600;
    line-height: 1;
    transition: 0.3s;
    color: color-mix(in srgb, var(--heading-color), transparent 20%);
  }
  
  .blog-posts .readmore i {
    line-height: 0;
    margin-left: 6px;
    font-size: 16px;
  }
  
  .blog-posts article:hover .post-title,
  .blog-posts article:hover .readmore {
    color: var(--accent-color);
  }
  
  .blog-posts article:hover .post-img img {
    transform: scale(1.1);
  }
  
  /*--------------------------------------------------------------
  # Blog Pagination Section
  --------------------------------------------------------------*/
  .blog-pagination {
    padding-top: 0;
    color: color-mix(in srgb, var(--default-color), transparent 40%);
  }
  
  .blog-pagination ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .blog-pagination li {
    margin: 0 5px;
    transition: 0.3s;
  }
  
  .blog-pagination li a {
    color: color-mix(in srgb, var(--default-color), transparent 40%);
    padding: 7px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .blog-pagination li a.active,
  .blog-pagination li a:hover {
    background: var(--accent-color);
    color: var(--contrast-color);
  }
  
  .blog-pagination li a.active a,
  .blog-pagination li a:hover a {
    color: var(--contrast-color);
  }
  
  /*--------------------------------------------------------------
  # Contact Section
  --------------------------------------------------------------*/
  .contact .info-item+.info-item {
    margin-top: 40px;
  }
  
  .contact .info-item i {
    color: var(--contrast-color);
    background: var(--accent-color);
    font-size: 20px;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    margin-right: 15px;
  }
  
  .contact .info-item h3 {
    padding: 0;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  
  .contact .info-item p {
    padding: 0;
    margin-bottom: 0;
    font-size: 14px;
  }
  
  .contact .php-email-form {
    height: 100%;
  }
  
  .contact .php-email-form input[type=text],
  .contact .php-email-form input[type=email],
  .contact .php-email-form textarea {
    font-size: 14px;
    padding: 10px 15px;
    box-shadow: none;
    border-radius: 0;
    color: var(--default-color);
    background-color: color-mix(in srgb, var(--background-color), transparent 50%);
    border-color: color-mix(in srgb, var(--default-color), transparent 80%);
  }
  
  .contact .php-email-form input[type=text]:focus,
  .contact .php-email-form input[type=email]:focus,
  .contact .php-email-form textarea:focus {
    border-color: var(--accent-color);
  }
  
  .contact .php-email-form input[type=text]::placeholder,
  .contact .php-email-form input[type=email]::placeholder,
  .contact .php-email-form textarea::placeholder {
    color: color-mix(in srgb, var(--default-color), transparent 70%);
  }
  
  .contact .php-email-form button[type=submit] {
    color: var(--contrast-color);
    background: var(--accent-color);
    border: 0;
    padding: 10px 30px;
    transition: 0.4s;
    border-radius: 4px;
  }
  
  .contact .php-email-form button[type=submit]:hover {
    background: color-mix(in srgb, var(--accent-color), transparent 20%);
  }
  
  /*--------------------------------------------------------------
  # Widgets
  --------------------------------------------------------------*/
  .widgets-container {
    margin: 40px 0 30px 0;
  }
  
  .widget-title {
    color: var(--heading-color);
    font-size: 20px;
    font-weight: 600;
    padding: 0 0 0 10px;
    margin: 0 0 20px 0;
    border-left: 4px solid var(--accent-color);
  }
  
  .widget-item {
    margin-bottom: 30px;
    background-color: color-mix(in srgb, var(--default-color), transparent 98%);
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
    padding: 30px;
    border-radius: 5px;
  }
  
  .widget-item:last-child {
    margin-bottom: 0;
  }
  
  .blog-author-widget img {
    max-width: 120px;
    margin-right: 20px;
  }
  
  .blog-author-widget h4 {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 0px;
    padding: 0;
    color: color-mix(in srgb, var(--default-color), transparent 20%);
  }
  
  .blog-author-widget .social-links {
    margin: 5px 0;
  }
  
  .blog-author-widget .social-links a {
    color: color-mix(in srgb, var(--default-color), transparent 60%);
    margin-right: 5px;
    font-size: 18px;
  }
  
  .blog-author-widget .social-links a:hover {
    color: var(--accent-color);
  }
  
  .blog-author-widget p {
    font-style: italic;
    color: color-mix(in srgb, var(--default-color), transparent 30%);
    margin: 10px 0 0 0;
  }
  
  .search-widget form {
    background: var(--background-color);
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 75%);
    padding: 3px 10px;
    position: relative;
    border-radius: 50px;
    transition: 0.3s;
  }
  
  .search-widget form input[type=text] {
    border: 0;
    padding: 4px 10px;
    border-radius: 4px;
    width: calc(100% - 40px);
    background-color: var(--background-color);
    color: var(--default-color);
  }
  
  .search-widget form input[type=text]:focus {
    outline: none;
  }
  
  .search-widget form button {
    background: none;
    color: var(--default-color);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    font-size: 16px;
    padding: 0 16px;
    transition: 0.3s;
    line-height: 0;
  }
  
  .search-widget form button i {
    line-height: 0;
  }
  
  .search-widget form button:hover {
    color: var(--accent-color);
  }
  
  .search-widget form:is(:focus-within) {
    border-color: var(--accent-color);
  }
  
  .recent-posts-widget .post-item {
    display: flex;
    margin-bottom: 15px;
  }
  
  .recent-posts-widget .post-item:last-child {
    margin-bottom: 0;
  }
  
  .recent-posts-widget .post-item img {
    width: 80px;
    margin-right: 15px;
  }
  
  .recent-posts-widget .post-item h4 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .recent-posts-widget .post-item h4 a {
    color: var(--default-color);
    transition: 0.3s;
  }
  
  .recent-posts-widget .post-item h4 a:hover {
    color: var(--accent-color);
  }
  
  .recent-posts-widget .post-item time {
    display: block;
    font-style: italic;
    font-size: 14px;
    color: color-mix(in srgb, var(--default-color), transparent 50%);
  }
  

  
  
  .blog-author-widget-2 img {
    max-width: 160px;
  }
  
  .blog-author-widget-2 h4 {
    font-weight: 600;
    font-size: 24px;
    margin: 15px 0 0 0;
    padding: 0;
    color: color-mix(in srgb, var(--default-color), transparent 20%);
  }
  
  .blog-author-widget-2 .social-links {
    margin: 5px 0;
  }
  
  .blog-author-widget-2 .social-links a {
    color: color-mix(in srgb, var(--default-color), transparent 60%);
    margin: 0 3px;
    font-size: 18px;
  }
  
  .blog-author-widget-2 .social-links a:hover {
    color: var(--accent-color);
  }
  
  .blog-author-widget-2 p {
    font-style: italic;
    color: color-mix(in srgb, var(--default-color), transparent 30%);
    margin: 10px 0 0 0;
  }
  
  @import 'custom'