  /*--------------------------------------------------------------
  # Global Sections
  --------------------------------------------------------------*/
  section,
  .section {
    color: var(--default-color);
    background-color: var(--background-color);
    padding: 40px 0;
    scroll-margin-top: 90px;
    overflow: clip;
  }
  
  @media (max-width: 1199px) {
  
    section,
    .section {
      scroll-margin-top: 66px;
    }
  }
  
  /*--------------------------------------------------------------
  # Global Section Titles
  --------------------------------------------------------------*/
  .section-title {
    margin-bottom: 60px;
    position: relative;
  }
  
  .section-title .section-title-container {
    padding-bottom: 10px;
    border-bottom: 2px solid var(--default-color);
  }
  
  .section-title h2 {
    font-size: 40px;
    font-weight: 0;
  }
  
  .section-title p {
    margin-bottom: 0;
  }
  
  .section-title p a {
    color: var(--default-color);
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.5px;
    border-bottom: 1.5px solid var(--default-color);
    font-family: var(--nav-font);
    font-weight: 500;
    padding-bottom: 2px;
  }