@mixin taxonomy-widget($name) {
    .#{$name}-widget ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  
    .#{$name}-widget ul li {
      display: inline-block;
    }
  
    .#{$name}-widget ul a {
      background-color: color-mix(in srgb, var(--default-color), transparent 94%);
      color: color-mix(in srgb, var(--default-color), transparent 30%);
      border-radius: 50px;
      font-size: 14px;
      padding: 5px 15px;
      margin: 0 6px 8px 0;
      display: inline-block;
      transition: 0.3s;
    }
  
    .#{$name}-widget ul a:hover {
      background: var(--accent-color);
      color: var(--contrast-color);
    }
  
    .#{$name}-widget ul a span {
      padding-left: 5px;
      color: color-mix(in srgb, var(--default-color), transparent 60%);
      font-size: 14px;
    }
  }
    
// Apply the mixin for both tags and categories
@include taxonomy-widget("tags");
@include taxonomy-widget("categories");
@include taxonomy-widget("series");