{{ define "main" }}
<div class="tx section">
  <div class="container aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
    <div class="row">
      <div class="col-lg-12">
          <div class="{{ .Title | lower }}-widget widget-item">
            <h3 class="widget-title">
              {{ .Title }}
            </h3>
            <ul>
              {{ range .Data.Terms.Alphabetical }}
                <li><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }} ({{ .Count }})</a></li>
              {{ end }}
            </ul>
          </div>
      </div>
    </div> <!-- End .row -->
  </div>
</div>
{{ end }}
