  <article class="article">
    {{ if .page.Params.cover }}
        {{ $cover := printf "%s/cover.jpg" .page.RelPermalink }}   
        <div class="post-img">
          {{ if .useLink }}
            <a href="{{ .page.RelPermalink }}"><img src="{{ $cover }}" alt="" class="img-fluid"></a>
          {{ else }}
            <img src="{{ $cover }}" alt="" class="img-fluid">
          {{ end }}
        
        </div>        
    {{ end }}
    <div class="meta-top">
      <ul>
        {{ with .page.Params.author }}
        {{ $author := site.GetPage (printf "authors/%s" .) }}
        {{ $resume := site.GetPage "resume" }}
          {{ with $resume }}
            <li class="d-flex align-items-center"><a href="{{ $resume.RelPermalink }}">{{ partial "gravatar/avatar-params" (dict "Email" $author.Params.email "ClassName" "rounded-circle flex-shrink-0" "Size" "20") }}</a></li>
          {{ end }}
        {{ end}}
        <li class="d-flex align-items-center"><time datetime="2020-01-01">{{ .page.Date | time.Format .page.Site.Params.dateFormat }}</time></li>
      </ul>
    </div>

    <div class="markdown-content">
      {{ if .useContent}}
        {{ .page.Content }}
      {{ else }}
        {{ .page.Summary }}
      {{ end }}
    </div>

    <div class="meta-bottom">
      <div class="tags-widget">
        <div class="container-meta">
          <i class="bi bi-stack"></i>
          <ul class="cats">
            {{ range .page.Params.series }}
            <li><a href="{{ printf "/series/%s" . | relURL }}">{{ . }}</a></li>
          {{ end }}
          </ul>
        </div>
        <div class="container-meta">
          <i class="bi bi-folder"></i>
        <ul class="cats">
          {{ range .page.Params.categories }}
          <li><a href="{{ printf "/categories/%s" . | relURL }}">{{ . }}</a></li>
        {{ end }}
        </ul>
        </div>
  
        <div class="container-meta">
          <i class="bi bi-tags"></i>
        <ul class="tags">
          {{ range .page.Params.tags }}
          <li><a href="{{ printf "/tags/%s" . | relURL }}">{{ . }}</a></li>
        {{ end }}
        </ul>
        </div>
      </div>
    </div>

  </article>