<div class="widgets-container">
    <!-- Blog Author Widget -->
    <div class="blog-author-widget widget-item">
      <div class="d-flex flex-column align-items-center">
        {{ with .page.Params.author }}
        {{ $author := site.GetPage (printf "authors/%s" .) }}
        {{ partial "gravatar/avatar-params" (dict "Email" $author.Params.email "ClassName" "rounded-circle flex-shrink-0" "Size" "150") }}
        {{ with $author }}
          <h4>{{ $author.Title }}</h4>
          {{ $resume := site.GetPage "resume" }}
          {{ with $resume }}
            <a href="{{ $resume.RelPermalink }}"><h5>{{$resume.Title}}</h5></a>
          {{ end }}
          <div class="social-links markdown-content center-text">
            {{ $author.Params.bio | markdownify }}
          </div>
        

          

        {{ end }}
      {{ end }}
      </div>  
    </div><!--/Blog Author Widget -->

    <!-- Search Widget -->
    <div class="search-widget widget-item">
      {{ partial "search.html" .page }}
    </div><!--/Search Widget -->

    {{ if .showRecentPosts }}

      <!-- Recent Posts Widget -->
      <div class="recent-posts-widget widget-item">
        <h3 class="widget-title">Recent Posts</h3>
        {{ range first 5 (where site.RegularPages "Section" "posts") }}
        <div class="post-item">
          <!-- Fetch Cover Image -->
          {{ $cover := "" }}
          {{ if .Params.cover }}
            {{ $cover = printf "%s/cover.jpg" .RelPermalink }}
          {{ else }}
            {{ $cover = "img/default-cover.jpg" }}
          {{ end }}
          <img src="{{ $cover }}" alt="Cover Image" class="flex-shrink-0">
          <div>
            <!-- Fetch Title and Link -->
            <h4><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>

            <!-- Fetch Date -->
            <time datetime="{{ .Date.Format .Site.Params.dateFormat }}">
              {{ .Date.Format .Site.Params.dateFormat }}
            </time>
          </div>
        </div>
      {{ end }}
      </div><!--/Recent Posts Widget -->
    {{ end }}

    {{ range $taxName, $termsMap := .page.Site.Taxonomies }}
    {{ $taxonomyPage := site.GetPage (printf "/%s" $taxName) }}
      <div class="{{$taxName}}-widget widget-item">
        <h3 class="widget-title">
          {{ with $taxonomyPage }}
            <a href="{{ .RelPermalink }}">{{ $taxName }}</a>
          {{ else }}
            {{ $taxName }}
          {{ end }}
        </h3>
        <ul>
          {{ range $term, $pages := $termsMap }}
            {{ with site.GetPage (printf "/%s/%s" $taxName $term) }}
              <li><a href="{{ .RelPermalink }}">{{ $term }} ({{ len $pages }})</a></li>
            {{ end }}
          {{ end }}
        </ul>
      </div>
    {{ end }}
  </div>